* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", Arial, sans-serif, helvetica;
	background-color: #FAFAFA;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #EC362D;
	color: white;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	z-index: 100;
}

header h1 {
	font-size: 37px;
	line-height: 43px;
	font-weight: 700;
	text-align: center;
	padding: 10px 0;
}

.container {
	margin: 0 auto;
	width: 1051px;
}

/* First Screen */

.screen-1 {
	margin-top: 120px;
}

.screen-1 h3 {
	font-size: 20px;
	line-height: 23px;
	font-weight: 700;
}

.screen-1 .quizz-list {
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.screen-1 .quizz-list li {
	display: block;
	position: relative;
	width: 340px;
}

.screen-1 .quizz-list img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 180px;
	border-radius: 5px;
	filter: brightness(60%);
	cursor: pointer;
}

.screen-1 .quizz-list .quizz-description {
	position: absolute;
	left: 15px;
	bottom: 15px;
	color: white;
}

.screen-1 .create-initial-quizz .container {
	color: #D4D4D4;
	border: 1px dashed currentColor;
	padding: 30px 0;
}

.screen-1 .create-initial-quizz p {
	width: 200px;
	margin: 0 auto 15px;
	text-align: center;
}

.screen-1 .create-initial-quizz button {
	display: block;
	margin: 0 auto;
	color: #EC362D;
	border: 1px dashed currentColor;
	background-color: transparent;
	border-radius: 50px;
	padding: 10px 20px;
	cursor: pointer;
	transition: .3s ease-out;
}

.screen-1 .create-initial-quizz button:hover {
	color: white;
	border: 1px solid #EC362D;
	background-color: #EC362D;
}

.screen-1 .all-quizzes {
	margin: 60px 0;
}

.screen-1 .personal-quizzes .title {
	display: flex;
	align-items: center;
	gap: 15px;
}

/* Second Screen */

.screen-2 .banner {
	margin-top: 63px;
	margin-bottom: 30px;
	position: relative;
}

.screen-2 .banner img {
	width: 100vw;
	height: 200px;
	object-fit: cover;
	filter: brightness(60%);
}

.screen-2 .banner h2 {
	font-size: 39px;
	line-height: 43px;
	font-weight: 700;
	position: absolute;
	top: calc((100% - 43px) / 2);
	left: calc((100% - 340px) / 2);
	color: white;
	width: 340px;
	text-align: center;
}

.screen-2 .questions .question {
	width: 70%;
	background-color: white;
	margin: 0 auto 60px;
	padding: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.screen-2 .questions .question-command {
	width: 100%;
	height: 200px;
	background-color: red;
	text-align: center;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.screen-2 .questions .question-command span {
	width: 300px;
	font-size: 23px;
	line-height: 28px;
	font-weight: 700;
	color: white;
	text-overflow: ellipsis;
}

.screen-2 .questions .answers {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.screen-2 .question .answers .answer {
	width: calc(50% - 7.5px);
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	cursor: pointer;
}

.screen-2 .questions .answers img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 200px;
	margin-bottom: 5px;
}

.screen-2 .questions .answers .active {
	background-color: red;
}

.screen-2 .questions .answers .other {
	opacity: .4;
}

/* Third Screen */

.screen-3 {
	margin-top: 130px;
}

.screen-3 button {
	background-color: #EC362D;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 500;
	border: 0 none;
	border-radius: 14px;
}

.screen-3 h1 {
	text-align: center;
	font-weight: 700;
	font-size: 22px;
}

.screen-3 img.create-icon {
	width: 26px;
	height: 23px;
}

.screen-3 section.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.screen-3 .info-quizz form {
	width: 600px;
	height: 256px;
	margin-top: 27px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.screen-3 form input {
	width: 564px;
	height: 46px;
	border: 1px solid #D1D1D1;
	border-radius: 3px;
	padding-left: 17px;
}

.screen-3 form input::placeholder {
	color: #D1D1D1;
	font-style: italic;
	font-size: 14px;
}

.screen-3 .info-quizz button.create-question {
	width: 370px;
	height: 54px;
	margin-top: 85px;
	border: 0 none;
	border-radius: 5px;
	background-color: #EC362D;
	color: #FFFFFF;
	font-weight: 500;
}

.screen-3 .questions-quizz section.question-toggle {
	width: 601px;
	height: 74px;
	padding: 0 17px;
	margin-top: 30px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
	font-size: 18px;
	font-weight: 700;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.screen-3 .questions-quizz form {
	width: 600px;
	height: 825px;
	margin-top: 27px;
	padding-top: 27px;
	padding-left: 16px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 28px;
}

.screen-3 .questions-quizz form span {
	font-weight: 700;
	font-size: 20px;
}

.screen-3 .questions-quizz form .question,
.correct-answer,
.incorrect-answers {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 14px;
}

.screen-3 .questions-quizz form .incorrect-answers {
	gap: 27px;
}

.screen-3 .questions-quizz form .incorrect-answers div {
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.screen-3 .questions-quizz button.create-level {
	width: 355px;
	height: 54px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.screen-3 .level-quizz section.level-toggle {
	width: 601px;
	height: 74px;
	padding: 0 17px;
	margin-top: 30px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
	font-size: 18px;
	font-weight: 700;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.screen-3 .level-quizz form {
	width: 600px;
	height: 316px;
	margin-top: 27px;
	padding-top: 27px;
	padding-left: 17px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 14px;
}

.screen-3 .level-quizz form .level {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 14px
}

.screen-3 .level-quizz form span {
	font-weight: 700;
	font-size: 20px;
}

.screen-3 .level-quizz button.submit-quizz {
	width: 325px;
	height: 54px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.screen-3 .quiz-is-ready {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 45px;
}

.screen-3 .quiz-is-ready .buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.screen-3 .quiz-is-ready .buttons button {
	width: 221px;
	height: 44px;
}

.screen-3 .quiz-is-ready .buttons a {
	text-decoration: none;
	font-size: 21px;
	color: #818181;
	margin-bottom: 50px;
}

/* aux classes */

.hidden {
	display: none;
}

@media (max-width: 1100px) {
	.container {
		width: 100%;
	}

	/* First screen */
	.screen-1 .personal-quizzes .title {
		justify-content: space-between;
	}

	/* Second screen */
	.screen-2 .banner {
		margin-bottom: 30px;
	}

	.screen-2 .banner img {
		height: 120px;
	}

	.screen-2 .banner h2 {
		font-size: 19px;
		line-height: 23px;
		font-weight: 400;
	}

	.screen-2 .questions .question {
		width: 100%;
		margin-bottom: 15px;
	}

	.screen-2 .questions .question-command span {
		font-size: 19px;
		line-height: 23px;
	}

	.screen-2 .questions .answers .answer {
		font-size: 13px;
		line-height: 16px;
	}

	.screen-2 .questions .question-command,
	.screen-2 .questions .answers img {
		height: 120px;
	}

	/* Third Screen */
	.screen-3 {
		width: 100vw;
		margin-top: 106px;
	}

	.screen-3 h1 {
		margin-top: 0;
	}

	.screen-3 form input {
		width: 341px;
	}

	.screen-3 .info-quizz button.create-question {
		width: 325px;
		border-radius: 14px;
		margin-top: 29px;
	}

	.screen-3 .questions-quizz form {
		padding-left: 0;
	}

	.screen-3 .questions-quizz section.question-toggle {
		width: 100vw;
	}

	.screen-3 .questions-quizz button.create-level {
		width: 325px;
		margin-top: 35px;
	}

	.screen-3 .level-quizz section.level-toggle {
		width: 100vw;
	}

	.screen-3 .quiz-is-ready img {
		width: 340px;
		height: 181px;
	}
}