* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", Arial, sans-serif, helvetica;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #EC362D;
	color: white;
}

header h1 {
	font-size: 37px;
	line-height: 43px;
	font-weight: 700;
	text-align: center;
	padding: 10px 0;
}